CORESYS_INCLUDE:=$(INCLUDEDIR_KER)/coresys
CORESYS_CFLAGS:=$(CFLAGS)
CORESYS_CPPFLAGS:=$(CPPFLAGS) -I$(CORESYS_INCLUDE)
CORESYS_LDFLAGS:=$(LDFLAGS)
CORESYS_LIBS:=$(LIBS)

CORESYS_OUTDIR?=$(KERNEL_OUTDIR_OBJ)/coresys

coresys_outdir:
	$(MKDIR) -p $(CORESYS_OUTDIR)

$(CORESYS_OUTDIR)/%.o: $(CORESYSDIR)/%.c coresys_outdir
	$(CC) -MD -c $< -o $@ $(GNU_STD) $(CORESYS_CFLAGS) $(CORESYS_CPPFLAGS) -mno-red-zone

CORESYS_OBJS_LST=\
kernel.o \
ramdisk.o \
timer.o \
spinlock.o \
vfs.o

CORESYS_OBJS:=$(addprefix $(CORESYS_OUTDIR)/,$(CORESYS_OBJS_LST))