
DEVS_CFLAGS:=$(CFLAGS)
DEVS_CPPFLAGS:=$(CPPFLAGS)
DEVS_LDFLAGS:=$(LDFLAGS)
DEVS_LIBS:=$(LIBS)

DEVS_OUTDIR?=$(KERNEL_OUTDIR_OBJ)/devs

devs_outdir:
	$(MKDIR) -p $(DEVS_OUTDIR)

$(DEVS_OUTDIR)/%.o : $(DEVSDIR)/%.c devs_outdir
	$(CC) -MD -c $< -o $@ $(GNU_STD) $(DEVS_CFLAGS) $(DEVS_CPPFLAGS) -mno-red-zone

DEVS_OBJS_LST=\
keyboard.o \
vga.o \
serial.o

DEVS_OBJS:=$(addprefix $(DEVS_OUTDIR)/,$(DEVS_OBJS_LST))