KERNEL_ARCH_CFLAGS:=$(CFLAGS) -O0
KERNEL_ARCH_CPPFLAGS:=$(CPPFLAGS)
KERNEL_ARCH_LDFLAGS:=$(LDFLAGS)
KERNEL_ARCH_LIBS=

ARCH_OUTDIR?=$(KERNEL_OUTDIR_OBJ)/arch/IA32

arch_outdir:
	$(MKDIR) -p $(ARCH_OUTDIR)

#Rule to retrive crtbegin.o and crtend.o from the compiler and build them
$(ARCH_OUTDIR)/crtbegin.o $(ARCH_OUTDIR)/crtend.o: arch_outdir
	OBJ=`$(CC) $(KERNEL_ARCH_CFLAGS) $(KERNEL_ARCH_LDFLAGS) -print-file-name=$(@F)` && cp "$$OBJ" $@

$(ARCH_OUTDIR)/%.o : $(ARCHDIR)/%.c arch_outdir
	$(CC) -MD -c $< -o $@ $(GNU_STD) $(KERNEL_ARCH_CFLAGS) $(KERNEL_ARCH_CPPFLAGS) -mno-red-zone
$(ARCH_OUTDIR)/%.o : $(ARCHDIR)/%.S arch_outdir
	$(CC) -MD -c $< -o $@ $(KERNEL_ARCH_CFLAGS) $(KERNEL_ARCH_CPPFLAGS) -mno-red-zone

KERNEL_ARCH_OBJS_LST=\
boot.o \
bootloader.o \
tramAP.o \
tab_asm.o \
usrmode.o \
conswitch.o \
smp.o \
tables.o \
sysinit.o \
systime.o \
interrupts.o \
exceptions.o \
acpi.o \
pci.o \
atomic.o \
pic.o \
pit.o \
paging.o \
paging_asm.o \
cpu.o \
apic.o \
rtc.o \
crti.o \
crtbegin.o \
crtend.o \
crtn.o 

KERNEL_ARCH_OBJS:=$(addprefix $(ARCH_OUTDIR)/,$(KERNEL_ARCH_OBJS_LST))