LIBK_INCLUDE:=$(INCLUDEDIR_KER)/libk
LIBK_CFLAGS:=$(CFLAGS)
LIBK_CPPFLAGS:=$(CPPFLAGS) -I$(LIBK_INCLUDE)
LIBK_LDFLAGS:=$(LDFLAGS)
LIBK_LIBS:=$(LIBS)

LIBK_OUTDIR:=$(KERNEL_OUTDIR_OBJ)/libk

libk_outdir:
	$(MKDIR) -p $(LIBK_OUTDIR)

#Rules to make libk
$(LIBK_OUTDIR)/%.o: $(LIBKDIR)/%.c libk_outdir
	$(CC) -MD -c $< -o $@ $(GNU_STD) $(LIBK_CFLAGS) $(LIBK_CPPFLAGS) -mno-red-zone

LIBK_OBJS_LST=\
printf.o \
putchar.o \
puts.o \
getc.o \
kheap.o \
stdio_init.o \
memcmp.o \
memcpy.o \
memmove.o \
memset.o \
string.o \
queue.o \
time.o \
atoi.o \
itoa.o

LIBK_OBJS:=$(addprefix $(LIBK_OUTDIR)/,$(LIBK_OBJS_LST))